# dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# next.js
.next/
out/

# env
.env
.env.local

# docker
.postgres-data/

# pytest
.coverage
.pytest_cache/
descargas/

# editor
.vscode/
.idea/

# os
.DS_Store
Thumbs.db
